* {
  font-family: monospace;
  box-sizing: border-box;
}

html,
body {
  min-height: 400px;
  padding: 0;
  box-sizing: border-box;
}

#app {
  width: 450px;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-bottom: 15px;
}

.app-body {
  display: flex;
  flex-direction: row;
}

.body-sub {
  width: 50%;
  min-height: 250px;
  /* border: 1px solid orangered; */
}

.sub-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

.sub-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-word-form {
  display: flex;
  flex-direction: row;
}

.add-word-button {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin: 2px;
}

.sub-left input {
  width: 170px;
  height: 40px;
  line-height: 39px;
  font-size: 18px;
  margin-top: 2px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  background: rgb(243, 239, 239);
  padding-left: 5px;
}

.sub-left input:focus {
  outline: none;
}

.sub-title {
  height: 25px;
  font-size: 22px;
  margin-top: 2px;
  margin-bottom: 10px;
}

.word-list {
  /* border: 1px solid blue; */
  max-height: 200px;
  overflow: auto;
  width: 190px;
  font-size: 18px;
  margin-top: 2px;
  padding-right: 25px;
}

.word-list div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  background: rgb(243, 239, 239);
  height: 40px;
  font-size: 18px;
  width: 170px;
  padding: 5px;
}

.word-list span {
  width: 25px;
  text-align: center;
}

/* .word-list div:focus {
  color: rgb(243, 239, 239);
  outline: none;
} */

.word-list div:hover {
  background: rgb(243, 164, 164);
}

.app-bottom {
  height: 100px;
  /* border: 1px solid orangered; */
}

.app-bottom div {
  width: 219px;
  height: 39px;
  line-height: 39px;
  font-size: 18px;
  margin-top: 6px;
  margin-left: 2px;
  background: rgb(243, 239, 239);
  padding-left: 5px;
  white-space: pre;
}

.app-bottom input {
  width: 219px;
  height: 39px;
  line-height: 39px;
  font-size: 18px;
  margin-top: 6px;
  margin-left: 2px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  background: rgb(243, 239, 239);
  padding-left: 5px;
  font-weight: 300;
}

.correct-spelling {
  background-color: rgb(243, 239, 239);
  transition: background-color 0.5s;
}

.app-bottom input:focus {
  outline: none;
}

.focused-word {
  background-color: blue;
}
